<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Kindle Sudoku</name>
        <version>0.1.0</version>
        <author>Nick Garske / ChatGPT</author>
        <id>kindlesudoku</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
